{
  "extends": ["precure/oss"],
  "rules": {
    "import/no-extraneous-dependencies": 0,
    "no-duplicate-imports": 0,
    "no-console": 0,
    "import/no-unresolved": 0,
    "import/exports-last": 0
  }
}
