{
  "extends": ["precure/oss"],
  "rules": {
    "import/no-extraneous-dependencies": 0,
    "no-duplicate-imports": 0,
    "no-console": 0,
    "import/no-unresolved": 0,
    "import/exports-last": 0,
    "flowtype/require-compound-type-alias": 0,
    "flowtype/no-mixed": 0,
    "require-unicode-regexp": 0,
    "jest/prefer-called-with": 0,
    "prefer-named-capture-group": 0,
    "max-lines-per-function": 0,
    "unicorn/prevent-abbreviations": 0
  }
}
